{% extends 'base.html' %}


{% block content %}
    <section>
        <div class="p-4 bg-gray-50">
    <h2 class="text-2xl font-semibold text-gray-800 inline border-b-2 border-gray-400 pb-1">
                {% if add %}Add new{% else %}Update{% endif %} contact
            </h2>
        </div>
        <div class="form_container">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% if add %}Add{% else %}Update{% endif %} contact</button>
            </form>
        </div>
    </section>
{% endblock %}